/* Styling for main table*/
#cost {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
}

#cost td, #cost th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cost tr:nth-child(even){background-color: #80b3ff;}
#cost tr:nth-child(odd){background-color: #b3d1ff;}


#cost th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a75ff;
  color: black;
